.CategoryBaner {
    width: 100%;
    position: relative;
    height: 250px;
}

.CategoryBaner>img {
    width: 100%;
    /* height: 100%; */
    height: 250px;
}

.CategoryBanerFon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.CategoryBanerFon p {
    color: #FFF;

    font-family: "Montserrat arm";
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.FilterDiv {
    display: flex;
}

.FilterDiv div {
    width: 50%;
}

.SubCategoryButton {
    color: #24005C;
    font-family: "Montserrat arm";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
    background: rgba(36, 0, 92, 0.15);
    backdrop-filter: blur(9.649999618530273px);
    cursor: pointer;
    color: rgba(36, 0, 92, 0.50);
}

#C {
    background: linear-gradient(90deg, #FF6969 0%, rgba(255, 105, 105, 0.00) 100%);
}

#O {
    background: linear-gradient(90deg, #11AEF4 0%, rgba(17, 174, 244, 0.00) 100%);
}

#K {
    background: linear-gradient(90deg, #FEC01E 0%, rgba(254, 192, 30, 0.00) 100%);
}

#T {
    background: linear-gradient(90deg, #D943FF 0%, rgba(217, 67, 255, 0.00) 100%);
}

#A {
    background: linear-gradient(90deg, #4DCF5F 0%, rgba(77, 207, 95, 0.00) 100%);
}

#active {
    background: #FFCE00;
    backdrop-filter: blur(9.649999618530273px);
    color: #24005C !important;
    border: none;
}

.FilterDiv {
    margin-top: 30px;
}

.FilterDivButton {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.FilterDivButton>p {
    color: #24005C;
    font-family: "Montserrat arm";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.FilterDivButton>div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}